.customzationPanel(id="customize__break")
    .chooseModel 
        .chooseModel__title 
            p="Color:"
        .chooseModel__options 
            .option
                .optionIcon(id="break__color" class="activeOption")
                .colorPicker