.customzationPanel(id="customize__tire")
    .chooseModel 
        .chooseModel__title 
            p="Model:"
        .chooseModel__options 
            .option
                .optionIcon(id="tire1" class="activeOption")
                p.optionName="Tire 1"
            .option
                .optionIcon(id="tire2")
                p.optionName="Tire 2"